.fade{
   
}
// load
.fade-appear{
    opacity: 0;
    transform: translateY(20px);
}

.fade-appear.fade-appear-active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms linear;

}
//enter
.fade-enter{
    opacity: 0;
    transform: translateY(20px);
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 300ms linear;
}

.fade-exit{
    opacity: 1;
    transform: translateY(0px);
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transform: translateY(20px);
    transition: all 300ms linear;
}


